<style>
  h1 {padding: 20px; text-align: center;}
  .att {padding: 30px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
  }
</style>
<div class="backbutton">
  <a href="/" class="previous">&#8249;</a>
</div>
<h1 style="padding-right: 25px"> Image Attributions </h1>
<div class="att">
  <h3> Carousel photos via Pexels </h3> <a href="https://www.pexels.com/search/nature/" target="_blank">Source: Pixabay</a>
</div>
<div class="att">
  <h3> Foggy forest photo via Pixabay </h3> <a href="https://pixabay.com/en/wolf-wolves-forest-wintry-1341881/" target="_blank">Source: Comfreak</a>
</div>
<div class="att">
  <h3> World paper background via Pixabay </h3> <a href="https://pixabay.com/en/map-of-the-world-background-paper-2401458/" target="_blank">Source: Yuri_B</a>
</div>
<div class="att">
  <h3> 404 background via Pixabay </h3> <a href="https://pixabay.com/en/bokeh-light-background-points-2990426/" target="_blank">Source: geralt</a>
</div>
