body {
  font: 14px "Lucida Grande, Signika", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  max-width: 20em;
}

br {
  clear: left;
}

p {
  margin-bottom: 0;
}

* {
    box-sizing: border-box;
}

.links {
  width: 200px;
  margin: auto;
  padding: 5px;
  border-top: 1px dashed gray;
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
}

.title {
  border-bottom: 1px solid #bcbcbc;
  text-align: left;
  list-style-type: none;
}

.backbutton a{
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  padding: 8px 25px 10px 16px;
  width: 2%;
  float: left;
}
.backbutton a:hover {
    background-color: #dddddd;
    color: black;
}
.previous {
    font-size: 30px;
    background-color: #f1f1f1;
    color: black;
}

#navbar-custom{
  background-image: linear-gradient(#dbddff, #c1c4ff, white);
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
}

#navbar-custom a{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0px 0px 1px black;
}

#navbar-custom a:hover{
  background-color: #cecece;
  opacity: 0.7;
  transition: 250ms;
}

#navbar-custom div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-form{
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.navbar-form .form-group{
  margin: 0;
}

.form-control{
  border-radius: 0 !important;
}

#search-button{
  border-radius: 0;
}

#search-button:hover{
  background-color: #aaa;
}

#footer {
  background-color: #111111;
  color: white;
}

.lol {
  column-count: 3;
  list-style: none;
  padding: 0 50px;
}

.lol li {
  padding: 10px;
}

.countrieslist {
  margin-bottom: 1em;
}

.login-container{
    background-size: 100%;
    margin-bottom: 200px;
}

.login-newuser{
    display: flex;
    padding: 30px 100px;
    justify-content: center;
    align-content: center;
}

.layout_3col_left {
    width: 142px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    clear: left;
    font-size: 13px;
}

.profileheader {
  padding: 15px;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  border-bottom: 3px double black;
  margin-bottom: 25px;
}

#about {
  padding: 15px;
  text-align: center;
  max-width: 100%;
  right: 29px;
  color: #ff7a51;
  background-color: #f6f6f6;
}

#desc {
  display: inline-block;
  width: 700px;
  color: #113000;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
}

.aftercarousel {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  background-image: url("../images/wolfbackground.jpg");
  background-size: cover;
}

#privacypolicy {
  padding: 5px 50px 25px 50px;
}
#privacypolicy p {
  padding: 5px;
}
#privacypolicy h1 {
  text-align: center;
  padding: 10px;
  border-bottom: 3px double black;
}
#privacypolicy h2 {
  text-align: center;
  padding: 5px;
  font-family: "Georgia", serif;
}
#privacypolicy h3 {
  text-align: center;
  padding: 5px;
}
#privacypolicy li {
  padding: 5px;
}

#errorpage {
  background-image: url("404background.jpg");
  background-size: cover;
}
